@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

body {
  background: #f5f6f7;
  color: #1b1b32;
  font-family: Verdana;
  width: 80%;
  margin: 30px auto 10px auto;
  max-width: 600px;
}

h1{
  font-family:Roboto;
  font-size: min(5vw, 1.2em);
  text-align: center;
  border-bottom: 4px solid #dfdfe2;
}

#description{
  padding: 0 20px;
  text-align:center;
}

#title{
font-family:roboto;
font-size:2.5rem;
}

.info label, .info input {
  display: block;
}

.info input {
  width: 100%;
  text-align: left;
}

.info label {
  width: 80%;
  min-width: 55px;
  text-align: left;
}

.info, .question,.role, .food, .other-food{
  padding: 15px;
  margin: 30px;
  background-color: #f1f1f1;
}

.question, .food{
  display:flex;
  flex-direction: column;
  text-align:left;
}

.other-food label, .other-food input{
  justify-items:center;
}

button{
  display: block;
  margin: 40px auto;
  width: 40%;
  padding: 15px;
  font-size: 23px;
  background: #d0d0d5;
  border: 3px solid #3b3b4f;
}