@media only screen and (max-width: 600px) {
  body {
    background-color: white;
  }
}

html, body {
    min-width: 300px;
    color: #53545b;
    background-color: #ffeded;
    font-family: Georgia, serif;
    height:100%;
}

#navbar {
    position: fixed;
    min-width: 275px;
    padding:20px;
    width: 275px;
    height: 100%;
}

#navbar li {
    color: #4d4e53;
    border-bottom: 1px solid;
    list-style: none;
    position: relative;
    width: 80%;
}

a{
    text-decoration: none;
}

#navbar a {
    display: block;
    padding: 10px 30px;
    color: #4d4e53;
    text-decoration: none;
    cursor: pointer;
}

#navbar a:hover {
    background-color: #4d4e53;
    color:white;
}

#main-doc {
    position: absolute;
    margin-left: 310px;
    padding: 0 20px;
    margin-bottom: 110px;
}

header {
    color: #8d2e50;
    text-align: center;
    font-size: 1.8em;
    font-weight: thin;
    padding:0 20px;
}

.main-section header{
    color: #8d2e50;
    text-align: center;
    font-size: 1.8em;
    font-weight: thin;
    padding:0 20px;
    border-bottom: 1px solid;
}
p{
    text-align:justify;
}

.main-section li{
  list-style-type: none;
}

.langs{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-flow: column-wrap;
}

.main-section li:after{
    content:" ";
}