<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Magazine</title>
    <link
      href="https://fonts.googleapis.com/css?family=Anton%7CBaskervville%7CRaleway&display=swap"
      rel="stylesheet"
    />
    
    <link rel="stylesheet" href="./styles.css" />
  </head>
  <body>
    <main>
      <section>
        <header>
          <h1>PAGE TITLE</h1>
          <p>
            Paragraph1
          </p>
        </header>
        <div >
          <p>
            Paragraph2
          </p>
          <p class="publish-date">publish date</p>
        </div>

      </section>

      <section class="text">
        <p>
          Heavy paragraph
        </p>
        <p>
          Heavy paragraph
        </p>
        <p>
          Heavy paragraph
        </p>
        <blockquote>
          <hr />
          <p>
            blockquote
          </p>
          <hr />
        </blockquote>
        <p>
          Heavy paragraph
        </p>
        <p>
          Heavy paragraph
        </p>
        <p>
          Heavy paragraph
        </p>
      </section>
      <section>
        <article>
          <h3>Header3</h3>
          <p>Headerchild</p>
          <ul>
            <li>
              <h4>Header4</h4>
              <p>
                Headerchild
              </p>
            </li>
            <li>
              <h4>Header4</h4>
              <p>
                Headerchild
              </p>
            </li>
            <li>
              <h4>Header4</h4>
              <p>
                Headerchild
              </p>
            </li>
            <li>
              <h4>Header4</h4>
              <p>
                Headerchild
              </p>
            </li>
            <li>
              <h4>Header4</h4>
              <p>
                Headerchild</p>
            </li>
            <li>
              <h4>Header4</h4>
              <p>
                Headerchild
              </p>
            </li>
          </ul>
        </article>
        <aside class="image-wrapper">
          <img
            src=""
            alt=""
            loading="lazy"
            class=""
          />
          <img
            src=""
            alt=""
            loading="lazy"
            class=""
          />
          <blockquote class="image-quote">
            <hr />
            <p>
              Quote whatnot.
            </p>
            <hr />
          </blockquote>
          <img
            src=""
            alt=""
            loading="lazy"
            class=""
          />
        </aside>
      </section>
    </main>
  </body>
</html>